<div id="home">

  <%=flash[:notice] if flash[:notice]%>

  <div class="home-body" >
  <h1>Rantly</h1>
    <h3>Let It All Out</h3>

  </div>

  <div class="home-footer">
    <div class='box'>
    <img src="https://secure.gravatar.com/avatar/ba5a9e5d58ca27cc667aaf826ce91032?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
      <!--<p>Rantly has allowed a certin freedome I never thought possible.  Now I can rant to the internet at large, without having to worry about my thougths.  I just type it out, hit click, and feel the surge of relief.  Thanks Rantly, You've truly made my most inane rants heard.-->
      <!--| Jeff Taggart-->
      <!--</p>-->
    </div>
  </div>


</div>