<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>

<h1>Thanks for signing up for Rantly!</h1>

<p>Please confirm your account to log in: <%= @confirmation_url %></p>

<p>Thanks, Rantly</p>

</body>
</html>