<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>

<p><%=@ranter_username%> has just posted a new rant.  Check it out here:  <%=@rant_url%> </p>

<p>Thanks, Rantly</p>

</body>
</html>