

<div class="photo-name">
  <img src=<%=kenny_loggins.image%> />
  <div><%= link_to "#{kenny_loggins.first_name} #{kenny_loggins.last_name}", edit_user_profile_path, class:"profile-link"  %></div>
</div>