

<!--<div class="photo-name flex-c">-->
  <!--<img class="flex-c" src=< %=kenny_loggins.image%>  /></br>-->
  <!--<div>< %= link_to "#{kenny_loggins.first_name} #{kenny_loggins.last_name}", edit_user_profile_path, class:"profile-link flex-c"  %></div>-->
<!--</div>-->

<div class="photo-name">
  <img src=<%=kenny_loggins.image%>>
  <div> <%=link_to "#{kenny_loggins.first_name} #{kenny_loggins.last_name}", edit_user_profile_path%></div>
</div>

