<div id="show-users">

<div>
<%= @user.first_name %>
</div>
  <div>
    <%= @user.bio %>
  </div>
</div>

<h3>Rants</h3>

<% @user.rants.each do |rant| %>

  <div><%= rant.topic %></div>
  <div><%= rant.details %></div>
  <br/>

<% end %>