

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>





<div class="full-wide">

  <div class="admin-flex-container">

    <div style="width: 33%; border:1px solid black">
      <div class="content-header">Rants per Day</div>
      <%= column_chart Rant.group_by_day(:created_at, range: 1.week.ago.midnight..Time.now, format: "%a-%e").count %>
    </div>

    <div style="width: 33%; border:1px solid black">
      <div class="content-header">Signups per Day</div>
      <%= column_chart User.group_by_day(:created_at, range: 1.week.ago.midnight..Time.now, format: "%a-%e").count %>
    </div>

    <div style="width: 33%; border:1px solid black">
      <div class="content-header">Logins per Day</div>
      <%= pie_chart Rant.group(:topic).count %>
    </div>
  </div>
</div>



