<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: grey">

<article class="flex-c navvy">
Navbar
</article>


<div class="body flex-c">
  <div class="sidebar">
    sidestuff<br/>
    <input type="text" class="flex-c inputty">
  </div>
  <div class="contents">
    contentssss
  </div>

</div>




</body>

</html>
