<section class="three-qtr-wide rants">

  <div class="content-header">Latest Rants</div>
  <hr/>
  <div class="others-rants">
    <% @rants_to_loop_through = @others_rants %>
    <%= render "/rants/section_of_rants" %>
  </div>

  <div class="content-header">My Rants</div>
  <hr/>
  <div class="my-rants">
    <% @rants_to_loop_through = @my_rants %>
    <%= render "/rants/section_of_rants" %>
  </div>

  <div class="mentioned-rants">
    <% if @mentioned_rants != [] && @mentioned_rants != nil %>
      <div class="content-header">Mentioned Rants</div>
      <hr/>
      <div class="mentioned-rants">
        <% @rants_to_loop_through = @mentioned_rants %>
        <%= render "/rants/section_of_rants" %>
      </div>
    <% end %>
  </div>

</section>
















