<div id="index-interesting_ranters">


  <article class="flex-container">

    <%= render "/rants/form" %>

    <section class="three-qtr-wide rants">
      <div style="text-align: center">
        <h1>Following</h1>
        <hr/>
      </div>


      <% @interesting_ranters.each do |interesting_ranter| %>
        <% person = User.find(interesting_ranter.person_id) %>
        <div class="follow-block">
          <div><%= person.first_name %></div>
          <%= image_tag person.image %>
          <br/>
          <%= link_to "Unfollow", user_interesting_ranter_path(interesting_ranter), method: :DELETE %>
        </div>
      <% end %>
    </section>

  </article>
</div>