<section class="three-qtr-wide rants">

  <div class="content-header">Following</div>
  <hr/>

  <% @followed_users.each do |followed_user| %>
    <div class="follow-block">
      <div class="profile-link"><%= followed_user.first_name %> <%= followed_user.last_name %></div>
      <%= image_tag followed_user.image %>
      <br/>

      <%=link_to "Unfollow", "", class:"unfollower", 'data-interesting-ranter-id'=> InterestingRanter.where(follower_id: kenny_loggins.id, followed_user_id: followed_user.id).first.id, 'data-ranter-id'=> followed_user.id %>

    </div>
  <% end %>

</section>
