/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree .
*= require_self
*/

* {
font-family: arial, sans-serif;
}

body {
background-color: lightgrey;
padding: 0%;
margin: 0%
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

/*checked*/
.qtr-wide {
    width: 23%;
    padding-left: 1%;
    padding-right: 1%;
    position: fixed;
    top: 85px;
}

/*checked*/
.three-qtr-wide {
    width: 73%;
    min-height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    position: relative;
    top: 85px;
    left: 25%;
}


.full-wide {

    width: 100%;
    min-height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    position: relative;
    top: 85px;
    border: 1px solid red
}

table {
    border-collapse: collapse;
}
table td {
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;

}

table th {
    text-align: left;
    background-color: grey;
    border: 1px solid black;
    padding-left: 10px;

}



/*checked*/
.navbar {
    background-color: #31332F;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;
    text-align: center;
    font-size: 18px;
    font-family: arial, sans-serif;
    position: fixed;
    z-index: 2;
}

.brand {
    width: 12%;
    margin-right: 13%;
    min-width: 65px;
    border-right: thin solid darkgreen;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-divider {
    color: darkgreen;
}

.navbar a {
    text-decoration: none;
    color:white;
}

.flex-item {
    width:33%;
    text-align: center;
}

.selected-link {
    text-decoration: none;
    color:darkgreen;
}

.navbar-middle {
    width: 55%;
}

.navbar-middle div {
    display:inline-block;
    margin-right: 10px;
    float: left;
}

.navbar-right {
    width: 20%;
    min-width: 100px;
    text-align: right;
}

.navbar-right div {
display:inline-block;
margin-right: 20px;
}

.nav-button {
border:1px black solid;
padding-top: 5px;
padding-bottom: 5px;
padding-left:20px;
padding-right:20px;
margin-right: 20px;
margin-left: 20px;
background-color: darkgreen;
color: white;
font-size: 18px;
}

/*HOME HOME HOME HOME HOME HOME HOME */
/*HOME HOME HOME HOME HOME HOME HOME */
/*HOME HOME HOME HOME HOME HOME HOME */

.splash-top {
width: 100%;
background-color: white;
text-align: center;
border: 1px solid grey;
padding-top: 70px;
padding-bottom: 70px;
}

.splash-top h1 {
font-size: 80px;
}

.splash-bottom {
display: -webkit-flex;
display: flex;
flex-wrap: wrap;
justify-content:center;
width: 70%;
margin:auto;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
}

.splash-bottom  img {
    height: 150px;
    width: 30%;
    max-width: 120px;
    min-width: 150px;
    /*margin-right: 20px;*/

}

.splash-bottom  p {
    width: 70%;
    padding-left: 20px;

}

/*-------------------------*/

.inliner {
    display:inline-block;
    vertical-align: text-bottom;

}

.spammer {
    background-color: red;
    color:navajowhite;
}


.inline-block {
display:inline-block;
width: 47%;
}

.with-margin {
margin-right: 30px;
}

.wide-text-area {
width: 100%;
height: 280px;
font-size: 15px;
    margin: 0%;
    padding: 0%;
}

/*checked*/
.bio-area {
    width: 100%;
    height: 120px;
    font-size: 15px;
    margin: 0%;
    padding: 0%;
}

.filter-cluster {
    margin-bottom: 10px;
}

.filterer {
    border: 1px solid black;
    background-color: grey;
    text-decoration:none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 18px;
}


/*checked*/
.input-box {
    border: 1px solid black;
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    /*position: relative;*/
    /*top: 90px;*/
}

.small-img {
    width: 10px;
    height: 10px;
    border: 1px solid black
}


.naked-form {
    position: relative;
    top: 100px;
}

/*checked*/
.wide-input {
width: 100%;
height: 20px;
font-size: 15px;
    margin: 0%;
    padding: 0%;
}

.horizontal-form {
height: 30px;
    margin-right: 5%;
}

/*checked*/
.horizontal-form-input {
width: 80%;
margin:0px;
font-size: 20px;
}

/*checked*/
.horizontal-form-button {
width: 20%;
min-width: 120px;
border: 1px solid darkgreen;
background-color: darkgreen;
font-size: 20px;
color: white;
margin: 0px;
}


/*checked*/
.wide-button {
width: 100%;
background-color: darkgreen;
color: white;
font-size: 25px;
margin: 0%;
padding: 0%;

}

/*checked*/
.spacer-border {
border-top:1px solid black;
margin: 20px -20px 20px -20px;
}

/*checked*/
.mini-spacer-border {
border-top:1px solid black;
width: 24%;
margin: auto
}

/*checked*/
.rant-topic {
    font-size: 21px;
    color: darkgreen;
}


/*checked*/
.content-header {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

/*checked*/
.right-floater {
    margin: 12px;
    float:right
}

.comment-button {
    margin-top:12px;
    margin-right:-2px;
    float:right;
    border:1px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:20px;
    padding-right:20px;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
}

/*checked*/
.fifteen-wide {
    width: 15%;
    text-align: center;
    min-width: 150px;
}

.shown-rant {
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*checked*/
.eighty-five-wide {
    width: 85%;
    padding-top: 4px;
    padding-left: 15px;
}

/*checked*/
.rant-link {
    text-decoration: none;
    color: black;
}

.mouseover-color {
    color: darkgreen;
    text-decoration: none;

}


/*checked*/
.photo-name {
    text-align: center;
}

/*checked*/
.photo-name img {
    width: 90%;
    max-width: 180px;
    height: auto;
    max-height: 180px;
}

/*checked*/
.profile-link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

/*checked*/
img {
    height: 80px;
    width: 80px;
}


/*checked*/
.bio-box {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    align-items: center;
    text-aling: center
}

/*checked/*/
.profile-image {
    width: 150px;
    height: auto;
    min-width: 120px;
    vertical-align: middle;
}

/*checked*/
.profile-frequency-box {
    width: 70%;
    text-align: center;
    font-size: 35px;
}

/*checked*/
.med-image {
    width: 180px;
    height: auto;
}

.follow-block {
    display:inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 0px;
}

.follow-block img {
    width: 90%;
    height: 90%
}

.flex-c {
    display: -webkit-flex;
    display: flex;
    /*position: fixed;*/
    /*z-index: 1;*/
}


.navvy {
    width: 100%;
    padding: 0%;
    margin: 0%;
    border: 1px solid red;
    background-color: blue;

    position: fixed;

}

.body {
    background-color: grey;
    width: 100%;

 }

.sidebar {
    width: 23%;
    height: 2000px;
    border: 1px solid red;
    padding-left: 1%;
    padding-right: 1%;

    position: fixed;
    top: 50px;
}

.inputty {
    width: 100%;
    margin: 0%;
    padding: 0%;

}

.contents {
    width: 73%;
    padding-left: 1%;
    padding-right: 1%;
    height: 2000px;
    border: 1px solid red;

    position: absolute;
    left: 25%;
    top: 50px;
    z-index: -1;
}

/*article {*/
    /*border: 1px solid black;*/
/*}*/

/*section {*/
    /*border: 1px solid black*/
/*}*/




/*-------------------------*/


