/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
    background-color: black;
    height: 60px;
}

.brand {
    display:inline-block;
    margin-left: 10px;
    margin-top:20px;
    border:1px black solid;
    color:white

}

.navbar-right {
    float: right;
    border:1px black solid;
    margin-top:12px;
    margin-right: 10px;
    border: 1px solid white
}

.navbar-right div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    display:inline-block;
}

.navbar-right a {
text-decoration: none;
color:white;
}

.nav-button {
border:1px black solid;
padding-left:20px;
padding-right:20px;
background-color: darkgreen;
float: right
}

.rant-form {
    width: 25%;
    border: 1px solid black;
    float: left;
    height: 800px   
}

.rants {
    width: 73%;
    float: right;
}
article {
    border: 1px solid black;
}

section {
    border: 1px solid black
}

.home-body {
    border:1px black solid;
    text-align: center;
    height: 200px;
}

.home-footer {
    height: 200px;
    background-color: grey;
}

.home-footer img {
    width: 60px;
    height: 60px;
}

.home-footer .box {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
}


/*-------------------------*/


