/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
font-family: arial, sans-serif;
}



body {
    background-color: lightgrey;
}

/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

.navbar {
background-color: #31332F;
display: -webkit-flex;
display: flex;
width: 100%;
min-height: 50px;
text-align: center;
font-size: 18px;
font-family: arial, sans-serif;
}

.navbar a {
text-decoration: none;
color:white;
}

.navbar-left {
width: 20%;
border-right: thin solid darkgreen;
}

.brand {
margin-top: 12px;
margin-bottom: 12px;
}

.navbar-right {
width: 80%;
text-align: right;
}

.navbar-right div {
display:inline-block;
margin-right: 10px;
margin-top: 12px;
margin-bottom: 12px
}

.nav-button {
border:1px black solid;
padding-left:20px;
padding-right:20px;
background-color: darkgreen;
}

/*HOME HOME HOME HOME HOME HOME HOME */
/*HOME HOME HOME HOME HOME HOME HOME */
/*HOME HOME HOME HOME HOME HOME HOME */

.splash-top {
width: 100%;
background-color: white;
text-align: center;
height: 200px;
border: 1px solid grey;
}

.splash-top h1 {
padding-top: 30px;
}

.splash-bottom {
display: -webkit-flex;
display: flex;
width: 70%;
margin:auto;
padding-top: 60px;
padding-bottom: 60px;
}

.splash-bottom  img {
width: 100%;
height: 100%;
max-width: 120px;
max-height: 120px;
vertical-align: middle;
margin-right: 20px;
vertical-align: middle;
}


/*-------------------------*/

.inline-block {
    display:inline-block;
    width: 47%;
}

.with-margin {
    margin-right: 30px;
}

.wide-text-area {
    width: 100%;
    height: 360px;
    font-size: 15px;
}

.input-box {
    border:1px solid black;
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 0px 20px 20px 20px;
}

.wide-input {
    width: 100%;
    height: 20px;
    font-size: 15px;
}

.wide-button {
    width: 100%;
    background-color: darkgreen;
    color: white;
    font-size: 25px;
}

.spacer-border {
    border-top:1px solid black;
    margin: 20px -20px 20px -20px;
}

.mini-spacer-border {
    border-top:1px solid black;
    width: 350px;
    margin: auto
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.flex-item {
    width: 33%;
    text-align: center;
}

.qtr-wide {
    width: 25%;
    margin: 15px;

}

.three-qtr-wide {
    width: 75%;
}


.fifteen-wide {
    width: 15%;
    text-align: center;
    border: solid 1px black;
    min-width: 150px;
}

.eighty-five-wide {
    width: 85%;
    padding-top: 10px;
    padding-left: 15px;
}

.rant-link {
    text-decoration: none;
    color: black;
}

.rants {
background-color: white;
padding: 20px;

}

.photo-name {
    text-align: center;
}

.photo-name a {
    text-decoration: none;
    color: black;
    width: 100%

}

.photo-name img.resize {
    width: 100%;
    height: auto
}

.profile-link {
    /*display: inline;*/
    font-size: 25px;
    text-decoration: none;
    color: black;
    width: 100%;
}

/*.ranter-image {*/
    /*height: 80px;*/
    /*width: 80px;*/
/*}*/


img {
    height: 80px;
    width: 80px;
}





/*article {*/
    /*border: 1px solid black;*/
/*}*/

/*section {*/
    /*border: 1px solid black*/
/*}*/




/*-------------------------*/


